.hidden
{
    display:none;
}

body
{
    overflow-x: hidden;
    overflow-y: hidden;
}

#ChatRooms
{
    background-color:rgb(26, 26, 26);
}

.navbar
{
    background-color: rgb(39, 39, 39) !important;
}

.navbar-brand
{
    padding-left:5px;
}

.nav-link
{
    color:white !important;
}


.nav-link:hover
{
    color:gray !important;
}
  
.navbar-toggler-icon
{

    color:white !important;
}

.container {
	display: flex;
	flex-direction: row;
	/* height: 100vh; */
}

.sideBar {
	background-color: #2f3136;
	color: #fff;
	padding: 20px;
	width: 250px;
}

#dashboard_section
{
    padding-top:10px;
}


* {
    /* Variables for coloring */
    --Gray0: #222222;
    --Gray1: #2d2d2d;
    --Gray2: #3e3e3e;
    --Gray3: #c4c4c4;
}

.navbar {
    padding-left: 15px;
    padding-bottom: 15px;
    border-bottom: black 2px solid;
}

.profile
{
    margin-top:5px;
    display: flex;
    align-items: center;
}
  
.profile img
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.user-info
{
    color:rgba(222, 222, 222, 0.707);
    font-size:10px;
}

.user-info .profileName
{
    color:white;
    padding-top:12px;
    margin-bottom: 0px;
}

.col-md-2
{
    margin-top: -9px;
    background-color: var(--Gray0);
    position: fixed;
    left: 0;
    width: 200px;
    height: 85%;
}

.col-md-10
{
    margin-top: -9px;
    background-color: var(--Gray1);
    position: fixed;
    left: 200px;
    width: calc(100% - 200px);
    height: 85%;
}

.chatContent
{
    margin-top:5px;
}

.createRoom
{
    margin-top:5px;
}

.joinRoom
{
    margin-top:5px;
}

.col-md-10 .btn
{
    background-color: var(--Gray2);
}

.col-md-10 .btn:hover
{
    background-color: var(--Gray0);
}

.card
{
    margin-top:10px;
}

.card, .card-body, .chat-box, #chat_log
{
    background-color: var(--Gray1);
}

#messageInput
{
    color:white;
    background-color: var(--Gray2);
    border:none;
    resize: none;
    scroll-behavior: smooth;
    height: 70px;
}

#messageInput:focus
{
    color:white;
    box-shadow: none;
    background-color: var(--Gray2);
}

#messageInput::-webkit-scrollbar
{
    width: 12px;
    background-color: var(--Gray1);
    border-radius: 5px;
}
  
#messageInput::-webkit-scrollbar-thumb
{
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: var(--Gray0);
}


.col-md-10 span {
    color:white;
    font-size:25px;
    border-bottom: var(--Gray3) 3px solid;
    border-radius: 10px;
}

#roomID
{
    margin-top:10px;
}

#chatRoomBorder
{
    padding-bottom:10px;
}

.btn
{
    color:white;
    background-color: var(--Gray1);
    margin-top:10px;
    border: none;
    width:150px;
}

.btn:hover
{
    background-color: var(--Gray2);
}

#chat_log
{
    color:white;
}

#chat_log:focus
{
    outline: none; 
}

.grid-container
{
    display: grid;
    margin-top:20px;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}


.roomList
{
    color:white;
    background-color: var(--Gray1);
    user-select: none;
    border:none;
    background: 0; 
    outline: 0;
    max-width:150px;
    margin-bottom:-10px;
}

hr {
    border: none;
    height: 2px !important;
    color: white;  
    max-width:350px;
    margin-left:auto;
    margin-right:auto;
  }
